<mat-form-field class="example-full-width">
  <input type="text" matInput [matAutocomplete]="auto" [placeholder]="placeholder" [(ngModel)]="value"
    (input)="onInputChange($event)" (blur)="onBlur()" />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion.code">
      {{ suggestion.code }} - {{ suggestion.cityName }} - {{ suggestion.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
