<div>
  <!-- Render Flights -->
  <div *ngFor="let flight of flights; let index = index" class="relative">
    <div class="mt-5 flex justify-between items-center lg:hidden">
      <div class="btn btn-xs btn-info">{{ getOrdinalSuffix(index + 1) }} Flight</div>

      <!-- Show Remove Button for Flights Beyond the First Two - on Smaller Screens -->
      <span *ngIf="index >= 2" (click)="handleRemoveFlight(index)" title="Remove Flight">
        <mat-icon class="text-xl">cancel</mat-icon>
      </span>
    </div>

    <app-flight
      [travelType]="travelType"
      [defOrigin]="flight.defOrigin"
      [defDestination]="flight.defDestination"
      [defStartDate]="flight.defStartDate"
      [airports]="airports"
      (setFlightDetails)="setFlightDetails($event)"
    ></app-flight>

    <!-- Show Remove Button for Flights Beyond the First Two - on Larger Screens -->
    <div *ngIf="index >= 2" class="absolute top-1/2 left-1/2# right-0 transform -translate-x-1/2 -translate-y-1/2 hidden lg:inline" (click)="handleRemoveFlight(index)" title="Remove Flight">
      <mat-icon class="text-xl">cancel</mat-icon>
    </div>
  </div>

  <div
    class="mt-5 btn btn-outline btn-info lg:btn-ghost inline-flex gap-2 items-center"
    [class.disabled]="flights.length >= 5"
    (click)="handleAddFlights($event)"
    [disabled]="flights.length >= 5"
    type="button"
  >
    <mat-icon>add</mat-icon>
    <span>Add more flights</span>
  </div>
</div>
