<div class="mt-5 lg:flex gap-5 items-center">
  <ng-container *ngIf="ports">
    <app-origin
      *ngIf="ports.origin"
      [defOrigin]="defOrigin"
      [airports]="airports"
      (setFlightDetails)="setFlightDetails($event)"
    ></app-origin>
    <mat-icon class="cursor-pointer hidden lg:inline" (click)="swapPorts()">swap_horiz</mat-icon>
    <mat-icon class="ml-auto cursor-pointer lg:hidden" (click)="swapPorts()">swap_vert</mat-icon>
    <app-destination
      *ngIf="ports.destination"
      [defDestination]="defDestination"
      [airports]="airports"
      (setFlightDetails)="setFlightDetails($event)"
    ></app-destination>
  </ng-container>
  <ng-container *ngIf="travelType === 'Round Trip'">
    <app-round-trip-dp
      [defStartDate]="defStartDate"
      [defEndDate]="defEndDate"
      (setFlightDetails)="setFlightDetails($event)"
    ></app-round-trip-dp>
  </ng-container>
  <ng-container *ngIf="travelType !== 'Round Trip'">
    <app-one-way-dp
      [defStartDate]="defStartDate"
      (setFlightDetails)="setFlightDetails($event)"
    ></app-one-way-dp>
  </ng-container>
</div>
