<div class="mt-5 lg:flex gap-5 items-center">
  <ng-container *ngIf="ports">
    <app-origin *ngIf="ports.origin" [defOrigin]="defOrigin" [airports]="airports"
      (setFlightDetails)="onSelect($event)"></app-origin>
    <span class="cursor-pointer hidden lg:inline" (click)="swapPorts()">
      <mat-icon>swap_horiz</mat-icon>
    </span>
    <span class="ml-auto cursor-pointer lg:hidden" (click)="swapPorts()">
      <mat-icon>swap_vert</mat-icon>
    </span>
    <app-destination *ngIf="ports.destination" [defDestination]="defDestination" [airports]="airports"
      (setFlightDetails)="onSelect($event)"></app-destination>
  </ng-container>
  <ng-container *ngIf="travelType === 'Round Trip'">
    <app-round-trip-dp [defStartDate]="defStartDate" [defEndDate]="defEndDate"
      (setFlightDetails)="onSelect($event)"></app-round-trip-dp>
  </ng-container>
  <ng-container *ngIf="travelType !== 'Round Trip'">
    <app-one-way-dp [defStartDate]="defStartDate" (setFlightDetails)="onSelect($event)"></app-one-way-dp>
  </ng-container>
</div>
